VITE_SUPABASE_URL=https://ahoyaeopcdyviivahudx.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFob3lhZW9wY2R5dmlpdmFodWR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA4NjA2NTcsImV4cCI6MjEwNjQzNjY1N30.Iwrr5YXeTATExFd1f4Q5uy2wSse-0TYzS7IV33wTb4k
